.items{
	.col-xs-6, .col-sm-3{
		label{
			margin-left: 40%;
		}

		input, select{
			width: 100%;
		}
	}

	table, tr, td, th{
		border: 1px solid #000 !important;
	}

	table{

		th:first-child{
			width: 50%;
		}

		th:second-child{
			width: 20%;
		}
		th:last-child{
			width: 11%;
		}
	}

	.btn{
		line-height: 0.5;
	}

	th{
		background: none repeat scroll 0 0 #00e8ee;
	}

	hr{
		border: 1px dotted;
	}
}